@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

:root {
    --box: 50px;
    --color01: #eaf0f6;
    --color02: #e3eaf3;
    --color03: #d4dfea;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.wrapper {
    width: 450px;
    margin: 0 auto;
    margin-top:12px;
}

h1{
    text-align: center;;
}

.header{
    height:100px;
    margin-top: 10px;
}

.header ul {
    overflow:hidden;
    box-sizing: padding-box;
}

.header li {
    float:left;
}

.headerCount {width: 100px; height:100px;}
.headerFace  {
    width: 210px; height:96px;
    background: url(./img/faceSad.png) no-repeat center;
    background-size: contain;
}
.headerFace:hover {cursor: pointer;}
.happy:hover { 
    background: url(./img/faceWow.png) no-repeat center; 
    background-size: contain;
}
.happy {
    background: url(./img/faceHappy.png) no-repeat center;
    background-size: contain;
}

.headerTimer,.headerCount {
    width: 120px; height: 90px;
    line-height: 120px;
    text-align: center;
    font-size: 36px;
    overflow: hidden;
    font-family: 'Gugi', cursive;
    background: url(./img/headerTime.png) top center no-repeat;
    background-size: 86px;
}
.headerCount {background: url(./img/headerCount.png) top no-repeat; background-size: 84px;}

#tileWrap{
    width: 450px;
    height: 450px;
}

#tileWrap li{
    width: var( --box ); 
    height: var( --box );
    float: left;
    box-sizing: border-box;
    background: var( --color01) url(./img/defaultBg_white.png) center no-repeat;
    background-size: cover;
}

#tileWrap li:hover{
    cursor: pointer;
}

#tileWrap li.clicked{
    background-color: #f0f5fc;
    border : 6px solid var( --color03);
    border-right-color:var( --color01);
    border-bottom-color:var( --color01);
    cursor: pointer;
    background-size: var( --box );
}

#tileWrap li.worngClicked{
    background-color: #fae7e7;
    border : 6px solid #ead4d4;
    border-right-color:#f6eaea;
    border-bottom-color:#f6eaea;
    cursor: pointer;
    background-size: var( --box );
}

#tileWrap li.bug{
    background-image:url(./img/bug.png);
    background-size: var( --box + 6 );
}

#tileWrap li.ghost{
    background-image:url(./img/ghost.png);
}

#tileWrap li.aroundBugCount{background-size: var( --box );}
#tileWrap li.count0{ background-image:url(./img/number/00.png);}
#tileWrap li.count1{ background-image:url(./img/number/01.png);}
#tileWrap li.count2{ background-image:url(./img/number/02.png);}
#tileWrap li.count3{ background-image:url(./img/number/03.png);}
#tileWrap li.count4{ background-image:url(./img/number/04.png);}
#tileWrap li.count5{ background-image:url(./img/number/05.png);}
#tileWrap li.count6{ background-image:url(./img/number/06.png);}
#tileWrap li.count7{ background-image:url(./img/number/07.png);}
#tileWrap li.count8{ background-image:url(./img/number/08.png);}
#tileWrap li.count9{ background-image:url(./img/number/09.png);}
